<% layout("./layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <h2>SignUp On WanderLust</h2>
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" required class="form-control" >
                <div class="valid-feedback">next!!</div>
                <div class="invalid-feedback">wrong..</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" required class="form-control" >
                <div class="valid-feedback">next!!</div>
                <div class="invalid-feedback">wrong..</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" required class="form-control" >
                <div class="valid-feedback">next!!</div>
                <div class="invalid-feedback">wrong..</div>
            </div>
            <button class="btn btn-success mb-3">SingUp</button>
        </form>
    </div>
</div> 
